APP_NAME=Ruang Rasa AI Service
APP_ENV=development
MODEL_PATH=model/screening_model.keras
MODEL_METADATA_PATH=model/model_metadata.json
PROFILE_NAME_MAP_PATH=data/profile_name_map.json
ACTIVITY_BANK_PATH=data/activity_bank.json
AFFIRMATION_BANK_PATH=data/affirmation_bank.json
JOURNAL_ACTIVITY_BANK_PATH=data/activity_bank_journaling.json
JOURNAL_AFFIRMATION_BANK_PATH=data/affirmation_bank_journaling.json
JOURNAL_MODEL_PATH=model/journal_model.keras
JOURNAL_TOKENIZER_PATH=model/tokenizer.pkl
JOURNAL_SCALER_PATH=model/scaler_extra.pkl
JOURNAL_METADATA_PATH=model/metadata.json
