# Prisma
DATABASE_URL=postgresql://USER:PASSWORD@localhost:5432/ruang_rasa

PORT=5000

# PostgreSQL (legacy - digunakan oleh node-pg-migrate)
PGHOST=localhost
PGPORT=5432
PGUSER=postgres
PGPASSWORD=your_postgres_password
PGDATABASE=ruang_rasa

# JWT
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=7d

# AI Service (Python Flask/FastAPI)
AI_API_URL=http://localhost:8000
GEMINI_API_KEY=isi_api_key_gemini_kamu
GEMINI_MODEL=gemini-2.5-flash

# frontend
FRONTEND_URL=http://localhost:5173

# email (brevo)
BREVO_API_KEY=api_key_brevo_kamu
EMAIL_FROM=email_pengirim@domain_kamu.com